name: Deploy API to cPanel

on:
    push:
        branches:
            - main
            - test

jobs:
    deploy:
        runs-on: ubuntu-latest
        if: |
            !contains(github.event.head_commit.message, '[skip deploy]')

        environment: ${{ github.ref == 'refs/heads/main' && 'prod' || 'test' }}

        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Create Deployment Marker
              run: |
                    echo "${GITHUB_SHA}" > .deploy-marker

            - name: Check Directory and Create if not Exists
              uses: appleboy/ssh-action@v0.1.7
              with:
                  host: ${{ secrets.CPANEL_HOST }}
                  username: ${{ secrets.CPANEL_USER }}
                  key: ${{ secrets.CPANEL_SSH_KEY }}
                  script: |
                      DEPLOY_PATH="/home/${{ secrets.CPANEL_USER }}/${{ secrets.DEPLOY_DIR }}"
                      if [ ! -d "$DEPLOY_PATH" ]; then
                          mkdir -p "$DEPLOY_PATH"
                          echo "Directory Created: $DEPLOY_PATH"
                      else
                          echo "Directory already Exists in $DEPLOY_PATH"
                      fi

            - name: Upload Code to cPanel
              uses: appleboy/scp-action@v0.1.7
              with:
                  host: ${{ secrets.CPANEL_HOST }}
                  username: ${{ secrets.CPANEL_USER }}
                  key: ${{ secrets.CPANEL_SSH_KEY }}
                  source: "**"
                  target: "/home/${{ secrets.CPANEL_USER }}/${{ secrets.DEPLOY_DIR }}"
                  rm: false
            
            - name: Install Packages using Composer
              uses: appleboy/ssh-action@v0.1.7
              with:
                host: ${{ secrets.CPANEL_HOST }}
                username: ${{ secrets.CPANEL_USER }}
                key: ${{ secrets.CPANEL_SSH_KEY }}
                script: |
                        DEPLOY_PATH="/home/${{ secrets.CPANEL_USER }}/${{ secrets.DEPLOY_DIR }}"
                        cd "$DEPLOY_PATH"
                        rm -rf vendor
                        composer install --no-dev --optimize-autoloader
                        if [ -d "$DEPLOY_PATH/vendor" ]; then
                            echo "Composer packages installed successfully."
                        else
                            echo "Composer installation failed."
                            exit 1
                        fi

            - name: Check Deployment
              uses: appleboy/ssh-action@v0.1.7
              with:
                  host: ${{ secrets.CPANEL_HOST }}
                  username: ${{ secrets.CPANEL_USER }}
                  key: ${{ secrets.CPANEL_SSH_KEY }}
                  script: |
                        DEPLOY_PATH="/home/${{ secrets.CPANEL_USER }}/${{ secrets.DEPLOY_DIR }}"
                        MARKER_FILE="$DEPLOY_PATH/.deploy-marker"
                        if [ -f "$MARKER_FILE" ] && grep -q "${GITHUB_SHA}" "$MARKER_FILE"; then
                            echo "Deployment Successful"
                        else
                            echo "Deployment Failed"
                            exit 1
                        fi
